:root {
    --background-color: rgb(51, 51, 51);
    --closed-cell-color:  lightslategray;
    --header-color: rgb(189, 97, 26);
}

body {
    background-color: var(--background-color);
    align-items: center;
}

h1 {
    color: var(--header-color);
    text-align: center;
}

.smiley {
    text-align: center;
    background-color: var(--background-color);
}

button {
    margin: 1vh;
    background-color: rgb(156, 220, 240);
    box-shadow: rgb(97, 136, 148);
}

.game-info {
    color: wheat;
    /* margin: 3vh; */
    margin-bottom: 0;
    text-align: center;
    

    td {
        padding-left: 5vh;
    }
    .hints-symbol {
        background-color: var(--background-color);
        cursor: pointer;
    }
    .mines-counter-text {
        color: var(--header-color);
    }
    .mines-counter-num {
        color: rgb(255, 253, 145);
    }
    .life-text {
        color: rgb(178, 188, 255);
    }
}

table {
    color: wheat;
    margin: 2vh;
    border-spacing: .8vh;
    display: flex;
    justify-content: center;
}

.cell {
    width:  5vh;
    height: 5vh;
    margin: 3vh;
    text-align: center;
}

.cell.unopened {
    background-color: var(--closed-cell-color);
    cursor: pointer;
}

.opened {
    background-color: var(--background-color);
}

.game-over {
    font-size: 4vh;
    color: rgb(189, 97, 26);
    /* margin: 3vh; */
    text-align: center;
}

.buttons {
    text-align: center;
}